/*drk green: #61B34F
lght green: #82C276*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'PT Sans', sans-serif;
}

body {
  margin: 0;
  width: 100%;
}
button {
  outline: none;
  border: none;
  width: 10vw;
  height: 10vw;
  color: white;
  background: #61B34F;
}
button#operator{
  background: #82C276;
}
.calc-container {
  background: white;
  display: flex;
  /*border: 2px solid grey;*/
  width: 42.5vw;
  margin: auto;
  height: 50vw;
  flex-wrap: wrap;
}
.input{
  display: flex;

}
input{
  width: 32.5vw;

}
/*.lght-green>button {
  width: 5vw;
  height: 5vw;
}*/
